*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    overflow-x: hidden;
}

body{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
}

.wrapper{
    display: grid;
    grid-template: 100px 1fr 60px / 1fr;
    gap:10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    gap:15px;
}


header .img-container{
    width: 100px;
    height: 50%;
}

.logo{
    background: url("https://static-assets.bamgrid.com/product/starplus/images/logo.770970996243b55d166fbeb8b1a52b36.svg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.navigation{
    flex: 1;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    flex: 1;
    gap: 40px;
}

.nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    cursor: pointer;
}

.nav-item:hover .nav-text::after{
    content: "";
    position: absolute;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    animation: line-appear .15s ease;
    animation-fill-mode: forwards;
}

@keyframes line-appear{
    from{
        opacity: 0;
        width: 0%;
    }

    to{
        opacity: 100;
        width: 100%;
    }
}

.nav-text{
    position: relative;
    display: none;
}

.nav-item img{
    width: 24px;
    height: 24px;
    filter: invert(100%);
    margin-bottom: 4px;
}

.nav-menu-off{
    display: none;
}

.nav-menu-active{
    display: block;
    position: absolute;
    top:110px;
    background-color: #1f1f1f;
    padding: 10px 40px 10px 10px;
    border: 1px solid rgb(173, 173, 173);
}

#nav-menu .nav-text{
    display: block;
}

.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/star/F4A087B7E2BCDC9F3BE6ED0E76F1F583A718701FA73A437A50544EF2DE562C95/scale?width=96&format=png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

@media (min-width:600px){
    .nav-minimizeable{
        display: flex;
    }

    #nav-button{
        display: none;
    }

    .nav-menu-off, .nav-menu-active{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    #nav-menu .nav-text{
        display: none;
    }
}

@media (min-width:1024px){
    #nav-menu .nav-text, .nav-text{
        display: block;
    }
}